Language : Cpp
BasedOnStyle : Google
IndentWidth : 4
BreakBeforeBraces : Stroustrup
AllowShortFunctionsOnASingleLine : InlineOnly
AllowShortIfStatementsOnASingleLine : Never
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left