# Binaries
bin/
out/
build/
.vscode/
# CMake
CMakeSettings.json
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
# Visual Studio
.vs/
# Visual Studio Code
.vscode/*
.DS_Store
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# CLion
.idea/
cmake-build-debug/
*.autosave

.cmake/

*.cbp
# Ignore binary files
*.bin
*.ll
*.mem